* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

ul,ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: currentColor;
}

img {
    max-width: 100%;
    display: block;
}

/* COLORS PALETTE */
:root {
    --black:#000000;
    --light-black:#141922;
    --dark-gray:#282828;
    --gray:#5A5A5A;
    --light-gray:#c1c1c1;
    --light:white;
}

/* LAYOUT */
.container-full {
    max-width: 100%;
}

.row {
    display: flex;
}

.row-wrap {
    display: flex;
    flex-wrap: wrap;
}

.row-column {
    display: flex;
    flex-direction: column;
}

body.row-column {
    justify-content: flex-end;
}

.sidebar {
    width: 230px;
    background-color: var(--black);
    color: var(--gray);
}

.main-content {
    flex-grow: 1;
}

/* DEBUG RULES */
.main-content.debug {
    background-color: #0084fd;
}

.sidebar.debug {
    background-color: #ff8d23;
}

.toolbar .debug {
    border: solid 1px yellow;
}

/* MACRO LAYOUT */
main.container-full {
    flex-grow: 1;
    height: calc(100vh - 90px);
    overflow: hidden;
}

/* TOOLBAR */
.toolbar {
    height: 90px;
    background-color: var(--dark-gray);
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    color: var(--light-gray);
    gap: 20px;
    padding: 0 10px;
}

.toolbar .player {
    width: 50%;
    gap: 20px;
}

.fa-circle-play {
    font-size: 30px;
    transition: all 0.2s;
}

.fa-circle-play:hover {
    transform: scale(1.2);
}

.row-player {
    font-size: 20px;
}

.player .row {
    align-items: center;
    gap: 30px;
    justify-content: center;   
}

.slider.row {
    justify-content: space-between;
    display: flex;
    gap: 20px;
}

.slider {
    font-size: 8px;    
}

.slider .bar {
    height: 4px;
    background-color: var(--gray);
    width: 100%;
    border-radius: 4px;
    flex-grow: 1;
    position: relative;
}

.progression-bar {
    height: 4px;
    background-color: var(--light-gray);
    width: 20%;
    border-radius: 4px;
    position: absolute;
}

.circle-handler {
    height: 12px;
    width: 12px;
    background-color: var(--light-gray);
    border-radius: 50%;
    position: absolute;
    left: 20%;
    top: 0;
    transform: translate(-50%,-35%);
}

.track img {
    width: 42px;
}

.track-info {
    align-items: center;
    gap: 10px;
}

.track-save {
    gap: 10px;
}

.slider-volume {
    height: 4px;
    background-color: var(--gray);
    width: 40%;
    border-radius: 4px;
    position: relative;
}

.volume.row {
    align-items: center;
    gap: 10px;
    font-size: 12px;
    width: 30%;
    justify-content: flex-end;
}

.track {
    align-items: center;
    gap: 20px;
    width: 30%;
}

.author {
    font-size: 12px;
    color: var(--light);
}

.track-name {
    font-size: 8px;
}

.track-name:hover {
    text-decoration: underline;
    color: var(--light);
}

.heart:hover,.folder:hover {
    color: var(--light);
}

/* SIDEBAR */
.menu-logo {
    width: 24px;
}

.menu .row, .user .row {
    gap: 5px;
}

.logo {
   width: 180px; 
   margin: 10px 0;
}

.menu .row, .user .row {
    align-items: center;
}

.card {
    padding: 10px 20px;
    font-size: 12px;
    font-weight: 600;
}

.playlist .title {
    color: var(--light);
    font-weight: 700;
    font-size: 16px;
}

.add-playlist {
    font-size: 16px;
}

.add {
    background-color: var(--light-gray);
    color: var(--black);
    padding: 8px;
    font-size: 20px;
    margin: 5px 5px 5px 0;
}

.card {
    line-height: 30px;
}

.user {
    margin-top: auto;
}

.user .menu-logo {
    width: 16px;
}

.install {
    border-bottom: 1px solid var(--gray);
    margin-bottom: 10px;
}

.menu-logo.portrait {
    background-color: var(--gray);
    border-radius: 10px;
    width: 20px;
    height: 20px;
    object-fit: cover;
    padding: 2px;
    overflow: hidden;
}

.username {
    color: var(--light);
    font-size: 16px;
}

/* MEDIA QUERY */
@media (max-width: 575.98px) {
    .sidebar {
        width: 50px;
    }

    .track img {
        width: 28px;
    }
}

@media (max-width: 767.98px) {

}

@media (max-width: 991.98px) {

}